* {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    color: #000;
    text-decoration: none;
}

body {
    background: #3253F6;
}

ul {
    list-style-type: none;
}

li {
    background: #9ADB3F;
    font-family: "Cabin Sketch";
    font-size: 2rem;
    padding: 1.4rem;
    margin: 10px;
    border: 5px solid white;
    border-radius: 20px;
}
